.song-item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.song-list-container {
  max-height: 400px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  padding-left: 0px;
  margin: 0px;
  padding-left: calc(100vw - 100%);
}

.page-font {
  font-family: 'Open Sans', sans-serif;
}

.library-title {
  text-align: center;
}

.flex-item-size {
  /* flex: 1 1; */
  margin-right: 80px;
}

.flex-item-val {
  margin-right: 100px;
}

.button-title {
  min-width: 189.71px;
  text-align: center;
}

.titles-bolder {
  font-weight: 800;
}